In [15]:
from sklearn import cross_validation, linear_model, metrics
from math import sqrt
from statsmodels.stats.weightstats import _tconfint_generic



import scipy
import numpy as np
import pandas as pd

In [2]:
testData = pd.DataFrame()
testData = testData.from_csv("water.txt", sep="	", index_col=1)

In [3]:
testData

              location  mortality  hardness
town
Bath             South       1247       105
Birkenhead       North       1668        17
Birmingham       South       1466         5
Blackburn        North       1800        14
Blackpool        North       1609        18
Bolton           North       1558        10
Bootle           North       1807        15
Bournemouth      South       1299        78
Bradford         North       1637        10
Brighton         South       1359        84
Bristol          South       1392        73
Burnley          North       1755        12
Cardiff          South       1519        21
Coventry         South       1307        78
Croydon          South       1254        96
Darlington       North       1491        20
Derby            North       1555        39
Doncaster        North       1428        39
East Ham         South       1318       122
Exeter           South       1260        21
Gateshead        North       1723        44
Grimsby          North       1379        94
Halifax          North       1742         8
Huddersfield     North       1574         9
Hull             North       1569        91
Ipswich          South       1096       138
Leeds            North       1591        16
Leicester        South       1402        37
Liverpool        North       1772        15
Manchester       North       1828         8
...                ...        ...       ...
Newcastle        North       1702        44
Newport          South       1581        14
Northampton      South       1309        59
Norwich          South       1259       133
Nottingham       North       1427        27
Oldham           North       1724         6
Oxford           South       1175       107
Plymouth         South       1486         5
Portsmouth       South       1456        90
Preston          North       1696         6
Reading          South       1236       101
Rochdale         North       1711        13
Rotherham        North       1444        14
St Helens        North       1591        49
Salford          North       1987         8
Sheffield        North       1495        14
Southampton      South       1369        68
Southend         South       1257        50
Southport        North       1587        75
South Shields    North       1713        71
Stockport        North       1557        13
Stoke            North       1640        57
Sunderland       North       1709        71
Swansea          South       1625        13
Wallasey         North       1625        20
Walsall          South       1527        60
West Bromwich    South       1627        53
West Ham         South       1486       122
Wolverhampton    South       1485        81
York             North       1378        71

[61 rows x 3 columns]

In [4]:
mortality = testData.as_matrix(["mortality"])
meanMortality = np.mean(mortality)
mortalityStd = mortality.std(ddof=1)/sqrt(len(mortality))
_tconfint_generic(meanMortality, mortalityStd,len(mortality) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [5]:
filteredMortality = []
for row in testData.as_matrix(["hardness", "location"]):
    if (row[1] == 'South'):
        filteredMortality.append(row[0])

npfilteredMortality = np.array(filteredMortality)

meanFilteredMortality = np.mean(npfilteredMortality)
meanFilteredMortalityStd = npfilteredMortality.std(ddof=1)/sqrt(len(npfilteredMortality))
_tconfint_generic(meanFilteredMortality, meanFilteredMortalityStd,len(npfilteredMortality) - 1, 0.05, 'two-sided')
#ЮГ (1320.1517462936238, 1433.463638321761)
#Север (1586.5605251961385, 1680.6394748038613)

#Жёсткость север (21.422487285724259, 39.377512714275738)
#Жёсткость Юг (53.467198692036106, 86.071262846425441)

(53.467198692036106, 86.071262846425441)

In [6]:
npfilteredMortality = np.zeros(11037)
for value in range(104):
    npfilteredMortality[value] = 1
print npfilteredMortality

[ 1.  1.  1. ...,  0.  0.  0.]

In [7]:
#Задача про майа
from statsmodels.stats.proportion import proportion_confint
normal_interval = proportion_confint(sum(npfilteredMortality), len(npfilteredMortality), method = 'normal')
normal_interval

(0.0076204226382885678, 0.011225278186210842)

In [8]:
from statsmodels.stats.proportion import samplesize_confint_proportion
n_samples = int(np.ceil(samplesize_confint_proportion(npfilteredMortality.mean(), 0.01)))
n_samples

359

In [9]:
from scipy.stats import norm

In [10]:
norm.ppf(0.9985, 0, 1)

2.9677379253417944

In [11]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [17]:
aspirin = np.zeros(11037)
for value in range(104):
    aspirin[value] = 1

withoutAspirin = np.zeros(11034)
for value in range(189):
    withoutAspirin[value] = 1

print proportions_confint_diff_ind(withoutAspirin, aspirin)

(0.0046877506750494392, 0.010724297276960124)

In [33]:
p_aspirin = (104. / 11037.)
shans_aspirin = 104. / (11037. - 104.)

p_withotAspirin = (189. / 11034.)
shans_withotAspirin = 189 / (11034. - 189)

In [40]:
print    shans_withotAspirin / shans_aspirin

1.83205394191

In [37]:
print p_withotAspirin - p_aspirin

0.007706023976